:root {
    --blade-hue: 120;
    --blade-lightness: 50%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #222;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100px 50px 1fr;
    min-height: 100vh;
    place-items: center;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 1.25rem;
}


/* The color pickers */

[name="color"] {
    grid-row: 1 / 2;
    align-self: end;
    margin: 0.5em;
}

label:not(.hilt) {
    color: white;
    font-weight: bold;
    align-self: start;
}


/* Lightsaber styling */

.lightsaber {
    margin-top: 35vh;
    grid-column: 1/-1;
    position: relative;
}

#on-off {
    position: absolute;
    width: 0;
    height: 0;
}

.hilt {
    cursor: pointer;
    display: block;
    width: 0.75rem;
    height: 7rem;
    background-color: red;
    border-radius: 0 0 4px 4px;
    background-image: linear-gradient( silver 0 10px, hsl(260 11% 52%) 0 14px, silver 0 16px, black 0 17px, silver 0 19px, black 0 20px, silver 0 28px, black 0 31px, silver 0 34px, black 0 37px, silver 0 40px, black 0 70px, silver 0 73px, black 0 76px, silver 0 79px, black 0 82px, silver 0 90px, black 0 91px, silver 0 100%);
}

.blade {
    position: absolute;
    background: white;
    height: 350%;
    width: 100%;
    bottom: 100%;
    border-radius: 100vw 100vw 0 0;
    box-shadow: inset 0 0 4px hsl(var(--blade-hue) 100% var(--blade-lightness)/.1), 0 0 1em hsl(var(--blade-hue) 100% var(--blade-lightness)/.8), 0 0 1.5em hsl(var(--blade-hue) 100% var(--blade-lightness)/.7), 0 0 2em hsl(var(--blade-hue) 100% var(--blade-lightness)/.5), 0 0 3em hsl(var(--blade-hue) 100% var(--blade-lightness)/.3), 0 0 5em hsl(var(--blade-hue) 100% var(--blade-lightness)/.2);
    transition: transform 300ms ease-in;
    transform-origin: bottom;
}

.blade::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(var(--blade-hue) 100% var(--blade-lightness));
    border-radius: inherit;
    filter: blur(0.5em);
    opacity: 1;
    animation: pulse linear 5s infinite;
    z-index: -1;
}

.blade::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    border-radius: inherit;
    z-index: 10;
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}


/* Turn lightsaber in and off */

#on-off:not(:checked)+.blade {
    transform: scaleY(0);
    transition: transform 1500ms ease-out;
}

#on-off:checked+.blade {
    transform: scaleY(1);
}


/* Changing lightsaber colors */

#greenLight:checked~.lightsaber {
    --blade-hue: 120;
}

#blueLight:checked~.lightsaber {
    --blade-hue: 195;
}

#redLight:checked~.lightsaber {
    --blade-hue: 360;
}

#yellowLight:checked~.lightsaber {
    --blade-hue: 60;
}

#purpleLight:checked~.lightsaber {
    --blade-hue: 290;
}

#magentaLight:checked~.lightsaber {
    --blade-hue: 300;
}

#darksaber:checked~.lightsaber {
    --blade-lightness: 100%;
}

#darksaber:checked~.lightsaber .blade {
    border-radius: 100% / 500px 10px 0 0;
}

#darksaber:checked~.lightsaber .blade::before {
    background: black;
}